@page
@model Disable2faModel
@inject IViewLocalizer _loc
@{
    ViewData["Title"] = "Deaktivieren der Zwei-Faktor Authentifizierung (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        @_loc["<strong>Diese Aktion deaktiviert nur 2FA.</strong>"]
    </p>
    <p>
        @_loc["Durch das Deaktivieren von 2FA werden die in Authentifizierungs-Apps verwendeten Schlüssel nicht geändert. Wenn Sie den in einer Authentifizierungs-App verwendeten Schlüssel ändern möchten, sollten Sie <a asp-page=\"./ResetAuthenticator\">Ihre Authentifizierungsschlüssel zurücksetzen.</a>"]
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@_loc["2FA deaktivieren"]</button>
    </form>
</div>
