@page
@model DownloadPersonalDataModel
@inject IViewLocalizer _loc
@{
    ViewData["Title"] = _loc["Lade deine Daten herunter"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
