@page
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexModel
@inject IViewLocalizer _loc
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" disabled />                
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <br />
            <div>
                <h3>@_loc["Offene Kasse"]</h3>
                <div class="form-group">
                    <label asp-for="Input.OpenCheckoutDate"></label>
                    <input asp-for="Input.OpenCheckoutDate" class="form-control" />
                    <span asp-validation-for="Input.OpenCheckoutDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.OpenCheckOutValue"></label>
                    <input asp-for="Input.OpenCheckOutValue" class="form-control" />
                    <span asp-validation-for="Input.OpenCheckOutValue" class="text-danger"></span>
                </div>
            </div>
            <button style="margin-top: 20px" id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
