@page
@model ResetAuthenticatorModel
@inject IViewLocalizer _loc
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        @_loc["<strong>Wenn Sie Ihren Authentifizierungsschlüssel zurücksetzen, funktioniert Ihre Authentifizierungs-App nicht, bis Sie sie neu konfigurieren.</strong>"]
    </p>
    <p>
        @_loc["Dieser Prozess deaktiviert 2FA, bis Sie Ihre Authentifizierungs-App verifizieren.<br/>Wenn Sie die Konfiguration Ihrer Authentifizierungs-App nicht abschließen, verlieren Sie möglicherweise den Zugriff auf Ihr Konto."]
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">@_loc["Authentifikatorschlüssel zurücksetzen"]</button>
    </form>
</div>
