@page
@model StatisticsModel
@{
    ViewData["Title"] = "Statistics";
    ViewData["ActivePage"] = ManageNavPages.Statistics;
}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Drink</h3>
            <canvas id="chart1" width="400" height="400"></canvas>
        </div>
        <div class="col">
            <h3>Article Percentage</h3>
            <canvas id="donutChart" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Chart 3
        </div>
        <div class="col">
            Chart 4
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var ctx = document.getElementById('chart1');
        var chart1 = new Chart(ctx, @Html.Raw(Model.ChartJson));

        var ctx = document.getElementById('donutChart');
        var donutChart = new Chart(ctx, @Html.Raw(Model.DonutChartJson));
    });
</script>
}