@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Role Manager";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Role Manager</h1>
<form method="post" asp-action="AddRole">
    <div class="input-group" style="width:25%">
        <input type="text" name="roleName" class="form-control w-25">
        <span class="input-group-btn">
            <input type="submit" name="submit" class="btn btn-primary" value="Add"/>
        </span>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>

            <th>Id</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td><div class="col col-6" data-label="Options"><a asp-action="DeleteRole" asp-route-Id="@role.Id">Delete</a> |
                <a asp-action="Edit" asp-route-id="@role.Id">Edit</a></div></td>
            </tr>
        }
    </tbody>
</table>