@page
@using Microsoft.AspNetCore.Mvc.Localization
@model PrivacyModel
@inject IViewLocalizer _loc
@{
    ViewData["Title"] = @_loc["Title"];
}
<h1>@ViewData["Title"]</h1>

<p>@_loc["Subtext"]</p>


<img src="~/img/Datenschutz.jpg" width="800px"/>